#announce {
    text-align: center;
    background: rgba(90, 114, 125, .7);
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'Lato', sans-serif;
    color: #fff ;
}

#announce a, #announce a:visited {
    color: #fd0;
    font-weight: bold;
}
