.more_in_section {
	width: 600px;
	float: right;
}

.more_in_section h1 {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	color: #666;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.more_in_section ul {
	margin:0;
	padding:0;
}

.more_in_section ul li {
	list-style: none;
	color: #078;
	margin-bottom:2px;
}

#morestories {
	clear: both;
}

.story {
	background: transparent;
	min-height:160px;
	float: left;
	width: 278px;
	padding:10px;
}

.story h1 {
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	color: #666;
	border-bottom: 1px solid #ccc;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
} 

.story ul {
	padding:0;
	margin:0;
}

.story ul li {
	list-style: none;
	color: #078;
	margin-bottom:2px;
}

.story:first-child {
}

.story:last-child {
}

.story .body {
	padding-top: 10px;
}

.body h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	color: #666;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.story .title {
	color:rgb(90, 114, 125);
	font-weight: bold;
}

