<div id="footer">
  <p>
El Grupo de Usuarios de Linux de la Universidad Carlos III de Madrid es una 
asociación declarada de beneficio social por el Ministerio de Hacienda.
<br />
Domicilio social: despacho 2.3C05 del edificio Sabatini, Avenida de la Universidad, 30
28911 Leganés Madrid, España.
<p>C.I.F.:G83296988</p>
<p>
  Número de registro de la comunidad de Madrid: 23500
  <br />
  Número de registro del ayuntamiento de Leganés: 795
</p>
Última actualización: <%= Time.now %>
</div>