
    <div id="fortunes">
      <pre id="fortunespre">
      </pre>
    </div>
    
    <script>
      function updateFortunes() {
        var nFortunes = <%= Fortunes.count %>;
        var fortuneID = Math.floor(Math.random() * nFortunes);
        var URL = "/<%= Fortunes::FOLDER %>/f" + fortuneID;
        $.ajax(URL, {
          success: function(data) {
            html = "#" + fortuneID + "\n" + data 
            $('#fortunespre').html(html);
          }
        });        
      }
      
      function setupFortunes() {
        updateFortunes();
        $('#fortunespre').click(updateFortunes)
      }
      
      $(document).ready(setupFortunes);
    </script>
