    <div id="menubar">
      <div id="menu">
        <div class="logobox">
          <p id="hereweare">
            <a href="/">GUL UC3M</a>
          </p>
          <p id="slogan">
            Nos gusta jugar con la tecnología
          </p>
          <div id="photostream">
            <% if @photos %>
              <% @photos.each do |photo| %>
                <a href="<%= photo.path %>">
                  <img src="<%= photo.thumbnail %>" width="50" />
                </a>  
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="menubox">
          <h1>La asociación</h1>
          <ul>
            <li class="menuitem_gul"><a href="/gul/intro">¿Quiénes somos?</a></li>
            <li class="menuitem_gul"><a href="http://wiki.gul.es">Documentación (wiki)</a></li>
            <li class="menuitem_gul"><a href="/gul/servicios">Servicios</a></li>
          </ul>
        </div>
        <div class="menubox">
          <h1>Actividades</h1>
          <ul>
            <li class="menuitem_gul"><a href="/gul/actividades">¿Qué hacemos?</a></li>
            <li class="menuitem_gul"><a href="http://gul.uc3m.es/cgi-bin/mailman/listinfo">Listas de correo</a></li>
            <li class="menuitem_cursos"><a href="/cursos/intro">Jornadas técnicas</a></li>
            <li class="menuitem_hm"><a href="/hm/intro">HolaMundo Radio</a></li>
          </ul>
        </div>
        <div class="menubox">
          <h1>Miembros</h1>
          <ul>
            <li class="menuitem_gul"><a href="/gul/reuniones">Reuniones</a></li>
<!--        <li class="menuitem_gul"><a href="/gul/fichajes">Fichajes</a></li> -->
            <li class="menuitem_gul"><a href="http://planeta.gul.es">Planeta GUL</a></li>
          </ul>
        </div>
        <br />
      </div>
    </div>
