#announce {
	text-align: center;
	background: #f8f8f8;
	border: 1px solid #eaa;
	border-radius: 10px;
	margin-top: 10px;
	width:100%;
	padding:30px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: rgb(238, 238, 238) 0px 1px 0px 0px, rgb(255, 255, 255) 0px 1px 0px 0px inset;
}