
.menuitem_cursos {
  padding-left: 5px;
}

.menuitem_cursos:hover {
  padding-left: 2px;
  border-left: 3px solid #86ac7c;
}

.story_cursos {
  border-bottom: 3px solid #86ac7c; 
}

.fill_cursos {
  background: #86ac7c;
}


.menuitem_gul {
  padding-left: 5px;
}

.menuitem_gul:hover {
  padding-left: 2px;
  border-left: 3px solid #e7d8a0;
}

.story_gul {
  border-bottom: 3px solid #e7d8a0; 
}

.fill_gul {
  background: #e7d8a0;
}


.menuitem_hm {
  padding-left: 5px;
}

.menuitem_hm:hover {
  padding-left: 2px;
  border-left: 3px solid #ab8c7c;
}

.story_hm {
  border-bottom: 3px solid #ab8c7c; 
}

.fill_hm {
  background: #ab8c7c;
}


